#aboutimg {
  width: 100vw;
  height: 60vh;
  position: absolute;
  opacity: 0.3;
  z-index: 1;
  transition: all 1s;
}

#About:hover #aboutimg {
  opacity: 0.5;
  height: 70vh;
}
#About {
  height: 80vh;
  width: 100vw;
  padding-top: 15%;
  margin-bottom: 6%;
}

#followme{
    font-size: 80%;
    color: var(--stark);
    padding-bottom: 7px;
    border-bottom: 2px solid var(--jewel);
    cursor: pointer;
}

#InnerAbout {
  position: relative;
  z-index: 2;
  width: 75%;
  margin: 0 auto;
  display: flex;
  margin-top: 1.5%;
  justify-content: space-evenly;
  transition: all 1s;
}

#About:hover #InnerAbout {
  margin-top: 5%;
}

#innerone {
  width: 50%;
  color: var(--stark);
  font-size: 200%;
  font-weight: bolder;
}

#innertwo {
  width: 60%;
  color: var(--stark);
  font-size: 110%;
  font-weight: bolder;
  padding-top: 70px;
  overflow-y:auto;
  max-height:60vh ;
}
#aboutH {
  /* background-color: red; */
  width: 75%;
  margin: 0 auto;
  margin-bottom: 1%;
}
